.p{
    display: flex;
    justify-content: center;
}

body{
    background-color: darkkhaki ;
}

.trow{
    background-color: rgb(216, 236, 172);
}

table, th, td{
    border: 1px solid saddlebrown;
    border-collapse: collapse
}

